pre {
    font-family: Lucidatypewriter, monospace;
}

* {
    font-family: 'Lucida Grande', Verdana, sans-serif;
}

p {
    text-align: justify;
}

body {
  background-color: rgb(242, 252, 255);
  margin-left: 5em;
  margin-right: 5em;
}

h1 {
    text-align: center;
}

div.service {
  border: 1px solid rgb(0, 0, 0);
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgb(200, 202, 255);
  width: 50vw;
}

span.pkind {
  font-size: 0.9em;
  float: right;
  font-variant: small-caps;
}