h2.name {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    text-shadow: #080808 10px 0 50px;
    font-variant: small-caps;
    /* padding-bottom: 0.5em; */
    font-weight: lighter;
}

body {
    background-color:  aliceblue;
}

.w3-text-teal, .w3-hover-text-teal:hover {
    color: rgb(120,120,255)!important;
}

.publications {
    width: 100%;
    height: 20em;
}

.default-hidden {
    display: none;
}

.collapsible {
  background-color: #fff;
  color: #999;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2em;
  text-align: center;
}

.w3-teal, .w3-hover-teal:hover {
    color: #000!important;
    background-color: #fff!important;
}

p.summary {
    text-align: center;
    font-size: 1.2em;
}

.large-icon {
    font-size: 1.8em;
}
