
pre {
    font-family: Lucidatypewriter, monospace;
}

* {
    font-family: 'Lucida Grande', Verdana, sans-serif;
}

p {
    text-align: justify;
}

body {
  background-color: rgb(242, 252, 255);
}

@media screen and (min-width: 200px) {
    div.content {
        font-size: 0.8em;
        width: 90%;
        background-color: rgb(255, 255, 255);
        margin: auto;
        padding-top: 1em;
        height: auto;
        padding-left: 1em;
        padding-right: 1em;
        margin-right: 1em;
        display: block;
        border: 1px solid rgb(222, 222, 255);
    }

span.code {
    font-family: Lucidatypewriter, monospace;
}

span.important {
    font-weight: bold;
}

span.emphasized {
    font-style: italic;
}

span.keyword {
    font-weight: bold;
    font-family: Lucidatypewriter, monospace;
}

#home {
    height: auto;
}


#menu {
    width: 90%;
    height: 2em;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

#menu a {
   text-decoration:none;
}

.menu_button {
    float: none;
    text-decoration:none;
    font-size:0.5em;
    font-weight:bold ;
    cursor:pointer;
    margin-left: 1em;
    padding:5px 25px;
    background: #ffffff;
    border:1px solid #171410;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    color:#000000;
}

.menu_button:hover, .menu_button:focus {
    background-color :#eeeeee;
    -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    box-shadow: 0 0 1px rgba(1, 1, 1, .75);
}

h1 {
    text-align: center;
    font-variant: small-caps;
    border-bottom: 1px solid rgb(222, 222, 255);
    padding-bottom: 0.5em;
}

#yrg {
    float: none;
    width: 80%;
    border-left: 1px solid rgb(222, 222, 255);
    padding-left: 1em;
    padding-bottom: 1em;
}

#profile {
    float: none;
    width: 100%;
}

#arobase {
    padding-top: 0.1em;
    padding-left: 0;
    height: 0.8em;
}

#presentation {
    width: 90%;
    float: none;
    height: 6em;
    padding-top: 0.5em;
    padding-left: 1em;
}

#split {
    border-top: 1px solid rgb(222, 222, 255);
    width: 90%;
    height: 0.1em;
    margin-top: 1em;
    float: none;
}

#contact {
    margin-top: 1em;
    width: 90%;
    height: auto;
    float: none;
}

#address {
}

#address p {
    font-size: 0.6em;
}

.logo {
    padding-left: 0.5em;
}

#institutions {
    float: none;
    height: auto;
    width: 90%;
}

#logo_p7 {
    height: 3.5em;
}

#logo_inria {
    height: 2.5em;
}

#logo_pps {
    height: 3em;
}

.publications {
    width: 90%;
    height: 1200em;
}

}


@media screen and (min-width: 1080px) {

div.content {
    width: 50em;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding-top: 1em;
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
    display: block;
    border: 1px solid rgb(222, 222, 255);
}

#home {
    height: 42em;
}


#menu {
    width: 41em;
    height: 2em;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

#menu a {
   text-decoration:none;
}

.menu_button {
    float: right;
    text-decoration:none;
    font-size:0.6em;
    font-weight:bold ;
    cursor:pointer;
    margin-left: 1em;
    padding:5px 25px;
    background: #ffffff;
    border:1px solid #171410;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    color:#000000;
}

.menu_button:hover, .menu_button:focus {
    background-color :#eeeeee;
    -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    box-shadow: 0 0 1px rgba(1, 1, 1, .75);
}

h1 {
    text-align: center;
    font-variant: small-caps;
    border-bottom: 1px solid rgb(222, 222, 255);
    padding-bottom: 1em;
}

#yrg {
    float: right;
    width: 15em;
    border-left: 1px solid rgb(222, 222, 255);
    padding-left: 1em;
    padding-bottom: 1em;
}

#profile {
    float: left;
    width: 50em;
}

#arobase {
    padding-top: 0.1em;
    padding-left: 0;
    height: 0.8em;
}

#presentation {
    width: 30em;
    float: left;
    height: 6em;
    padding-top: 3em;
    padding-left: 1em;
}

#split {
    border-top: 1px solid rgb(222, 222, 255);
    width: 50em;
    height: 0.1em;
    margin-top: 1em;
    float: left;
}

#contact {
    margin-top: 1em;
    width: 30em;
    height: 20em;
    float: left;
}

#address {
}

#address p {
    font-size: 0.9em;
    line-height: 0.5em;
}

.logo {
    padding-left: 0.5em;
}

#institutions {
    float: right;
    margin-top: 17em;
    height: 4em;
    width: 20em;
}

#logo_p7 {
    height: 3.5em;
}

#logo_inria {
    height: 2.5em;
}

#logo_pps {
    height: 3em;
}

.publications {
    width: 50em;
    height: 42em;
}

span.important {
    font-weight: bold;
}

span.emphasized {
    font-style: italic;
}

span.keyword {
    font-weight: bold;
    font-family: Lucidatypewriter, monospace;
}

span.code {
    font-family: Lucidatypewriter, monospace;
}

pre {
    font-family: monospace;
}


}
