html, body {
    margin: 0;
    padding: 0;
    color: #FAFAFA;
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
}

p {
    text-align: justify;
}

img.logo {
    padding: 1em;
}

#header {
    margin: 0;
    padding: 0;
    height: 50em;
    height: 100vh;
    background-image:url(board.jpg);
}

#titles {
    padding-top: 1em;
    padding-top: 10vh;
    margin-left: 30vw;
    height: 80%;
    font-style: italic;
    text-align: center;
}

#header h1 {
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    font-size: 10vw;
    font-family: 'Playfair Display', serif;
}

#header h2 {
    font-size: 2.5em;
    font-size: 3vw;
}

#header h3 {
    font-size: 1.8em;
    font-size: 2vw;
}

#header #theme {
    font-size: 3em;
    font-size: 3vw;
}

#header #photo img {
    float: left;
    width: 9em;
    width: 18vw;
    margin-top: 22em;
    margin-top: 22vh;
    margin-left: 12em;
    margin-left: 12vh;
}

div.menu {
    position: fixed;
    top: 0em;
    top: 94vh;
    left: 5em;
    left: 28vh;
    height: 10%;
    font-variant: small-caps;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.60;
    filter: alpha(opacity=60);
    background-color: #000000;
}

a.menu {
    font-size: 1em;
    font-size: 1.5vw;
    color: #FAFAFA;
    padding-right: 1em;
    padding-right: 0.5vw;
    text-decoration: none;
    text-align: center;
}

p.menu {
    height: 100%;
    text-align: center;
    padding: 0;
    margin:0;
    color:#ffffff;
}

a.menu:link {
    color: #FAFAFA;
}

a.menu:visited {
    color: #F0F0F0;
}

a.menu:hover {
    color: #FEFEFE;
}

a.menu:active {
    color: #FFFFFF;
}

#main {
    margin-left: 0;
    margin-right: 0;
}

td.date {
    padding-top: 2em
    padding-top: 1vw;
    font-weight: bold;
}

div.sbox {
    height:auto;
    height:100vh;
}

div.presentation {
    column-count: 2;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    font-size:0.8em;
    font-size:0.9vw;
    height:auto;
    height:75vh;
    margin-left: 10em;
    margin-left: 15vw;
    margin-right: 10em;
    margin-right: 15vw;
    margin-top: 0;
    padding: 0;
}

p.presentation {
    margin-top: 0px;
}

div.scontent {
    font-size:0.8em;
    font-size:0.9vw;
    height:auto;
    height:80vh;
    margin-left: 15em;
    margin-left: 15vw;
    margin-right: 15em;
    margin-right: 15vw;
}

div.form {
    font-size:1em;
    font-size:0.9vw;
    height:40em;
    height:92vh;
    margin-top: 1em;
    margin-left: 15em;
    margin-left: 15vw;
    margin-right: 15em;
    margin-right: 15vw;
}

h3.stitle {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    font-size: 2vw;
    padding-left: 7em;
    padding-left: 15vw;
    padding-top: 2em;
    padding-top: 2vw;
}

span.emphasize {
    font-weight: bold;
}

span.latin {
    font-style: italic;
}

table.program {
    font-size: 1em;
    font-size: 1.1vw;
    padding-right: 1em;
}

td {
    padding-right: 1em;
}


img.coqide {
    padding: 2em;
    width: 40em;
}